.forgot-password-wrapper {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 25px;
  }
  
  .forgot-password-header {
    margin-bottom: 20px;
  }
  
  .logoForgotPassword {
    width: 100px;
  }
  
  .forgot-password-form {
    margin-bottom: 20px;
  }
  
  .inputBoxForgotPassword {
    margin-bottom: 20px;
  }
  
  input[type='email'] {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: white;
  }
  
  .reset-button {
    background: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reset-button:hover {
    background: #025fc2;
  }
  
  .error-message,
  .success-message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .error-message {
    background: #f44336;
    color: white;
  }
  
  .success-message {
    background: #4caf50;
    color: white;
  }
  
  .btnsForgotPassword {
    margin-top: 20px;
  }
  
  .btnsForgotPassword p {
    font-size: 16px;
  }
  
  .btnsForgotPassword a {
    color: #007bff;
    text-decoration: none;
  }
  
  .btnsForgotPassword a:hover {
    text-decoration: underline;
  }
  