.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 9999; /* Ensure it appears above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  /* width: 70%; */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Other styles for popup content */

.popup-content {
  display: flex;
  align-items: center;
}

.popup-image img {
  width: 200px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px;
}

.popup-details {
  flex: 1;
}

.popup-details button {
  /* background-color: green;
  color: white; */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button{
  
}

.summary-text {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  resize: none;
}

/* condition */
.condition {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.new {
  background-color: green;
  color: white;
}

.used {
  background-color: yellow;
  color: black;
}

.poor {
  background-color: red;
  color: white;
}
