/* FilterSidebar.module.css */

.sidebar {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Need to fix button CSS, width property becomes global? */
.apply-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: darkgray;
  color: #fff;
  cursor: pointer;
}

h2 {
  font-size: 16px;
  margin-top: 0;
}

.filterOption {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
}

button:hover {
  background-color: grey;
}
